/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

/* Section: About */
#about {
    background-color: #F5F5DC;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    text-align: center; /* Center text on all screen sizes */
}

#about img {
    width: 100px;
    height: 100px; /* Adjust image size */
    border-radius: 50%;
    margin: 20px 0; /* Adjust margin for better spacing */
}

h1 {
    text-align: center;
}

/* Packages */
.package {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: 300px; /* Initial width for desktop */
    background-color: #CBC3E3;
    color: #000000;
    margin: 20px;
    text-align: center; /* Center text on all screen sizes */
}

#packages {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.package h2 {
    font-size: 1.5em;
    margin-top: 0;
}

.package p {
    margin-top: 0;
}

.package ul {
    list-style-type: none;
    padding: 0;
}

.package ul li {
    margin-bottom: 5px;
}

.package button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 3px;
}

.package button:hover {
    background-color: #45a049;
}

/* Section: Social Media */
#social-media {
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
}

#social-media ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#social-media li {
    margin-right: 20px;
}

#social-media a {
    color: #333;
    text-decoration: none;
}

#social-media a:hover {
    color: #666;
}

#social-media img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    #about {
        padding: 20px;
    }
    
    #about img {
        width: 80px;
        height: 80px;
        margin: 10px 0;
    }

    .package {
        width: 100%; /* Full width for packages on smaller screens */
        max-width: 300px; /* Limit maximum width to maintain readability */
        margin-bottom: 20px;
    }

    #social-media {
        padding: 10px;
    }
}
